---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/Nav-bar.astro';
import { Image } from 'astro:assets';
import arrowDown from '../images/icon-arrow-down.svg';
import eggImage from '../images/image-transform.jpg';
import Card1 from '../components/Card1.astro';
---

<Layout title="Sunny side">
	<main class=" bg-no-repeat bg-cover bg-center h-screen w-full">
		<header>
			<NavBar/>
		</header>
		<div class=" mx-auto flex flex-col justify-center items-center h-1/2 w-11/12 ">
			<h1 class=" text-center tracking-superwidest text-4xl h-auto font-fraunces font-black text-White">WE ARE CREATIVES</h1>
			<Image class=' mt-16' src={arrowDown} alt='arrowDown'/>
		</div>
	</main>

	<Card1 image={eggImage}
			alt='egg' 
			title='Transform your brand' 
			paragrap='Engage your clients through compelling visuals that do most of the marketing for you.' 
			rowReverse={true}
	/>

</Layout>

<style>
	main {
		background-image: url(../images/image-header.jpg);
	}
</style>


