---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/Nav-bar.astro';
---

<Layout title="Sunny side">
	<main class=" bg-no-repeat bg-cover bg-center h-screen w-full">
		<NavBar/>
		<div class=" mx-auto flex flex-col justify-center items-center h-1/2 w-11/12 ">
			<h1 class=" text-center tracking-superwidest text-4xl h-auto font-fraunces font-black text-White">WE ARE CREATIVES</h1>
			<div class=" w-full h-36 object-cover" style="background-image: url(../images/icon-arrow-down.svg);"></div>
		</div>
	</main>
</Layout>

<style>
	main {
		background-image: url(../images/image-header.jpg);
	}
</style>


